.top-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.top-3-item {
  margin: 0 20px;
  text-align: center;
}

.top-3-item img {
  display: block;
  margin: 0 auto;
}


.center {
  text-align: center;
}
.scan2vote {
  position: absolute; /* Set the position to absolute */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  margin: 10px; /* Add some margin for spacing */
  z-index: 999; /* Set a high z-index to ensure it's above other content */
}


.scan2vote img {
  width: 250px;
  height: 250px;
}

.flags img {
  object-fit: cover;
  height: 155px;
}
.country-name {
  font-size: 3em;
}

body {
  background-color: #404266;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

table {
  width: 100%; /* Add this to make the table take up the full width */
  margin: auto;
  font-size: 30px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(71, 9, 90);
}

img {
  vertical-align: middle;
}

label {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}

select {
  width: 100px;
  text-align-last: center;
  border-radius: 4pc;
  height: 40px;
  font-size: large;
}

table {
  margin: 0 auto;
}

form {
  margin: 0 auto;
}

button {
  background-color: #5c00b3;
}

input[type="text"], input[type="password"], textarea {
  background-color: #8f92bd;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-color: #fff;
}

input[type="submit"], button {
  background-color: #5c00b3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 60px;
  padding: 20px 30px 20px 30px;
  margin-top: 45px;
}

input[type="submit"]:hover, button:hover {
  background-color: #534ec5;
}

input[type="submit"]:active, button:active {
  background-color: #3d38a6;
}

@media screen and (max-width: 480px) {
  body {
      font-size: 18px;
  }

  table {
      font-size: 18px;
  }

  th, td {
      padding: 5px;
  }

  .flags img {
      height: 100px;
  }

  .country-name {
      font-size: 2em;
  }

  .voting-table img {
    max-width: 100px;
}
}

.voting-table {
  width: 100%;
}

.voting-table img {
  width: 100%;
  max-width: 175px;
}

.voting-table select {
  width: 100%;
  max-width: 170px;
}

.col-checkbox {
  width: 5%; /* Adjust width as needed */
}

.col-flag {
  width: 15%; /* Adjust width as needed */
}

.col-country {
  width: 15%; /* Adjust width as needed */
}

.col-song-info {
  width: 50%; /* Adjust width as needed */
}

.col-points {
  width: 15%; /* Adjust width as needed */
}

.flag-container {
  background-color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
}

.flag {
  width: 80%; /* Adjust width as needed */
  height: auto;
  transform: scale(1.30);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scan-container {
  display: flex;
  align-items: center;
}

.count-container {
  display: flex;
  align-items: center;
}

.eurovision-logo {
  width: 85%;
}

@media (min-width: 768px) {
  .eurovision-logo {
    width: 600px;
  }
}
